*{
    margin:0px;
    padding:0px;
    color:#ffffff
}
#navbar{
    height:60px;
    background-color: #0f1111;
    overflow-x: auto;
    white-space: nowrap; 
    align-items: center; 
    display: flex; 
    padding: 0 20px;
}
button{
    background-color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
#logo{
    font-size: 25px;
    color: #f08804;
}